{% include base_path %}

{% if page.sidebar %}
  <div class="sidebar sticky">
    TEST2
    <p>TEST</p>
    <!--{% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}-->
    <li class="author__desktop"><i class="fa-solid fa-location-dot icon-pad-right" aria-hidden="true"></i> <p>Baltimore, MD</p></li>
    <li class="author__desktop"><i class="fa-solid fa-building-columns icon-pad-right" aria-hidden="true"></i> <p>Johns Hopkins University</p></li>
    <li class="author__desktop"><i class="fa-solid fa-building icon-pad-right" aria-hidden="true"></i><p>Department of Epidemiology</p></li>
    <li class="author__desktop"><i class="fa-solid fa-chart-network icon-pad-right" aria-hidden="true"></i><p>Infectious Disease Dynamics Group</p></li>
    <li class="author__desktop"><i class="fa-solid fa-envelope icon-pad-right" aria-hidden="true"></i><p>email</p></li>
    <li class="author__desktop"><i class="fa-solid fa-github icon-pad-right" aria-hidden="true"></i><p>github</p></li>
     <li class="author__desktop"><i class="ai ai-google-scholar icon-pad-right"></i><p>g. scholar</p></li>
    
    
  </div>
{% endif %}
